<body>
  <%- include('partials/navbar') %>
  <main class="flex items-center justify-center h-full">
    <div data-aos="fade-up">
      <h1 class="text-4xl font-extrabold text-center">
        Simple Contact Manager
      </h1>
      <p>Simple Contact Manager App Built Using NodeJS, MongoDB, And Express</p>
    </div>
  </main>
  <script defer>
    AOS.init();
  </script>
</body>
